# Add any directories, files, or patterns you don't want to be tracked by ve
Web_Development/.vs
Web_Development/obj
Web_Development/bin
Web_Development/packages
Web_Development/HelperProjects/Library/obj
Web_Development/HelperProjects/Library/bin
Web_Development/HelperProjects/Github_Api/bin
Web_Development/HelperProjects/Github_Api/obj