
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Git Accessor</h2>

<form action="GitAccessor/GitUser">
    User: <input type="text" name="user" value="bwillis">
    <input type="submit" value="List User Repositories">
</form>

