
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-body text-center mt-4">
            <h4 class="card-title">Adhikari, Ashit</h4>
            <p class="card-text">Software Engineer</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/ashit-adhikari-69032815b/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/AshAdhik">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    
    <a href="/GitAccessor" class="px-1">
        <div id="carbonads">
            <div>
                <div class="carbon-wrap">
                    <div class="carbon-img" rel="noopener">
                        <div style="font-size:6em;">
                            <i class="fab fa-github"></i>
                        </div>
                    </div><div href="/GitAccessor" class="carbon-text" rel="noopener">GitAccessor</div>
                </div><div class="carbon-poweredby" rel="noopener">UI to retrive public Git Repository Information.</div>
            </div>
        </div>
    </a>

    <a href="/Stock" class="px-1">
        <div id="carbonads">
            <div>
                <div class="carbon-wrap">
                    <div class="carbon-img" rel="noopener">
                        <div style="font-size:6em;">
                            <i class="fas fa-chart-line"></i>
                        </div>
                    </div><div href="/Stock" class="carbon-text" rel="noopener">Stock</div>
                </div><div class="carbon-poweredby" rel="noopener">Access stock information using Ticker Symbol.</div>
            </div>
        </div>
    </a>

    <a href="/News" class="px-1">
        <div id="carbonads">
            <div>
                <div class="carbon-wrap">
                    <div class="carbon-img" rel="noopener">
                        <div style="font-size:6em;">
                            <i class="fas fa-newspaper"></i>
                        </div>
                    </div><div class="carbon-text" rel="noopener">News</div>
                </div><div class="carbon-poweredby" rel="noopener">Access News articles using keywords.</div>
            </div>
        </div>
    </a>

    <a href="/CompanyNews" class="px-1">
        <div id="carbonads">
            <div>
                <div class="carbon-wrap">
                    <div class="carbon-img" rel="noopener">
                        <div style="font-size:6em;">
                            <i class="far fa-newspaper"></i>
                        </div>
                    </div><div class="carbon-text" rel="noopener">Company News</div>
                </div><div class="carbon-poweredby" rel="noopener">Access news about the company using Ticker Symbol.</div>
            </div>
        </div>
    </a>

    <a href="/Publisher" class="px-1">
        <div id="carbonads">
            <div>
                <div class="carbon-wrap">
                    <div href="/Publisher" class="carbon-img" rel="noopener">
                        <div style="font-size:6em;">
                            <i class="fas fa-industry"></i>
                        </div>
                    </div><div class="carbon-text" rel="noopener">Publisher</div>
                </div><div href="/Publisher" class="carbon-poweredby" rel="noopener">List the News Publishers.</div>
            </div>
        </div>
    </a>

    <a href="/ClearBit" class="px-1">
        <div id="carbonads">
            <div>
                <div class="carbon-wrap">
                    <div href="/ClearBit" class="carbon-img" rel="noopener">
                        <div style="font-size:6em;">
                            <i class="fas fa-search"></i>
                        </div>
                    </div><div href="/ClearBit" class="carbon-text" rel="noopener">ClearBit</div>
                </div><div href="/ClearBit" class="carbon-poweredby" rel="noopener">Find Companies.</div>
            </div>
        </div>
    </a>

</div>

