
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}

<ol class="list-group list-group-flush">

    <li class="list-group-item">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/Stock">
            @*<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">*@
            Stock
        </a><span class="text-left"> Access stock information using Ticker Symbol.
            </span>
</li>

    <li class="list-group-item">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/News">
            @*<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">*@
            News
        </a><span class="text-left"> Access News articles using keywords.
            </span>
</li>

    <li class="list-group-item">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/Publisher">
            @*<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">*@
            Publisher
        </a><span class="text-left"> List the News Publishers.
            </span>
</li>

    <li class="list-group-item">
        <a class="btn btn-outline-success my-2 my-sm-0" href="/GitAccessor">
            GitAccessor
        </a><span class="text-left"> UI to retrive public Git Repository Information.
            </span>
</li>

<li class="list-group-item">
    <a class="btn btn-outline-success my-2 my-sm-0" href="/ClearBit">
        ClearBit
    </a><span class="text-left"> Find Companies.</span>
</li>
</ol>
