@model ProjectAbc.Classes.Stock.Model.Organization;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Layout.cshtml";
}
@*<head><script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script></head>
<script>
    google.charts.load('current', { packages: ['corechart', 'line'] });
    //google.charts.setOnLoadCallback(drawBackgroundColor);

    function drawBackgroundColor(title_x_axis, chart_container) {
        console.log('drawBackgroundColor');
        console.log(title_x_axis);
        console.log(chart_container);
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'X');
        data.addColumn('number', 'Dogs');

        data.addRows([
            [new Date(2000, 8, 5, 1, 1, 1), 500], [new Date(2000, 8, 5, 1, 2, 3), 510], [new Date(2000, 8, 5, 1, 4, 5), 523]
            , [new Date(2000, 8, 6, 1, 4, 5), 523], [new Date(2000, 8, 10, 1, 4, 5), 523], [new Date(2000, 8, 15, 1, 4, 5), 523]
        ]);

        var options = {
            hAxis: {
                title: title_x_axis
            },
            vAxis: {
                title: 'Price'
            },
            backgroundColor: '#f1f8e9'
        };

        var chart = new google.visualization.LineChart(document.getElementById(chart_container));
        chart.draw(data, options);
    }

    
</script>*@

<h2>Stock</h2>
@*<div id="chart_today"></div>
<div id="chart_3m"></div>
<script>google.charts.setOnLoadCallback(drawBackgroundColor('asdf', 'chart_today')); </script>*@
@*drawBackgroundColor(asdf,chart_3m);*@

<div><h4>Company</h4>
    <p>@JsonConvert.SerializeObject(Model.Company)</p></div>

<div>
    <h4>Book</h4>
    <p>@JsonConvert.SerializeObject(Model.Book)</p>
</div>

<div>
    <h4>Stock</h4>
    <p>@JsonConvert.SerializeObject(Model.Stocks)</p>
</div>

<div>
    <h4>Stocks_Today</h4>
    <p>@JsonConvert.SerializeObject(Model.Stocks_Today)</p>
</div>
